{
  "plugins": [
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src",
          "constants": "./src/constants",
          "components": "./src/components",
          "services": "./src/services"
        }
      }
    ]
  ]
}
