{
  "plugins": [
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "src": "./src",
          "components": "./src/components",
          "themes": "./src/themes",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}
