.Settings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  height: 50px;
}
.Settings a {
  text-decoration: none;
  padding: 7px 14px;
  border-radius: 4px;
  color: #222;
}
.Settings a.active {
  background: #eee;
}
